<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.domain.user.db.SysUserMapper">
  <sql id="selectUserSql">
    select u.user_id,
           u.username,
           u.password,
           u.nickname,
           u.email,
           u.phone,
           u.creator_id,
           u.create_time,
           u.updater_id,
           u.update_time,
           u.remark
    from sys_user u
  </sql>

  <select id="findList" resultType="com.rookie.domain.user.dto.SysUserDTO">
    <include refid="selectUserSql"/>
    where u.deleted = 0
    <if test="username != null and username != ''">
      AND u.username like concat('%', #{username}, '%')
    </if>
    <if test="nickname != null and nickname != ''">
      AND u.nickname like concat('%', #{nickname}, '%')
    </if>
    <if test="email != null and email != ''">
      AND u.email like concat('%', #{email}, '%')
    </if>
    <if test="phone != null and phone != ''">
      AND u.phone like concat('%', #{phone}, '%')
    </if>
  </select>
</mapper>
